
* {
    margin: 0px auto;
    color: #333;
    font-size: 15px;
    font-family: 'Encode Sans Expanded sans-serif';
}
.position-absolute{
    position: absolute;
}
.position-relative{
    position: relative;
}
.clear-fix{
    clear: both;
}
.title{
    font-size: 21px;
    padding-bottom: 20px;
    padding-top: 30px;
    font-weight: 900;
    position: relative;
    margin-bottom: 40px;
}
.title:after{
    content: '';
    position: absolute;
    width: 100%;
    background: #cccccc ;
    height: 1px;
    left: 0;
    bottom: 0;
}
.title:before{
    content: '';
    position: absolute;
    width: 80px;
    background: #F9B500;
    height: 5px;
    z-index: 1;
    left: 0;
    bottom: 0;
}
.article-title{
   padding-top: 25px;
   float: left;
   margin-bottom: 15px;
   margin-left:-20px;
   width: 260px;
  color:black;
}
    .article-title a {
        list-style: none;
        font-weight: 700;
        font-size: 22px;
        position: relative;
        left: 10px;
    }
.info-bar{
    list-style: none;
    padding-top: 20px;
    padding-bottom: 20px;
    display:inline-block;
    padding-left: 0;
}
.info-bar li{
    display: inline-block;
    margin-right: 20px;
    line-height: 23px;
}
.text-muted{
    color: #888;
}
.text-yellow{
    color: #F9B500;
}
.text-black{
    color: #000000;
}
.text-white{
    color: #cccccc;
}
a {
    text-decoration: none;
    transition: all .2s;
    color: black;
}
a:hover{
    color: #F9B500;
    text-decoration: none;
    transition: all .2s;
}
.header-logo{
    float: left;
    padding: 25px;
    margin-left:40px;
}
.header-menu{
    float: right;
}
.header-menu-item{
    list-style: none;
    display: inline-block;
    padding: 25px 10px;
}
.header-menu-item-link{
    font-size: 15px ;
    font-weight: 600;
    color:black;
}
.fa-search:hover{
    color: #F9B500;
}
.header-menu-burger{
    float: right;
    display: none;
    background-color: inherit;
    border: none;
    line-height: 80px;
    font-weight: 100;
    color: #333;
    padding: 15px 15px;
}
.fa-bars{
    font-size: 35px;
    outline: #fff;
}
.fa-bars:hover{
    color: #F9B500;
}

/* -------------end of header--------------- */

.intro-row{
    width: 100%;
}
.intro-h-600{
    height: 600px;
}
.intro-h-100{
    height: 100%;
}
.intro-h-2-3{
    height: calc(200%/3);
}
.intro-h-1-3{
    height: calc(100%/3);
}
.intro-h-1-2{
    height:calc( 97.5%/2);
}
.intro-h-50{
    height: calc(50%-5px);
}
.intro-h-50:first-of-type{
    margin-bottom: 10px;
}
.intro-2-3-col{
    float: left;
    margin-right: 10px;
    width: calc(calc(200%/3) - 10px);
}
.intro-1-3-col{
    float: right;
    width: calc(100%/3);
}
.intro-1-3-item{
    width: 100%;
}
.intro-1-3-col-item{
    float: left;
    width: calc(calc(100%/3) - 7px);
}

.mt-10x{
    margin-top: 10px;
}
.mr-10x{
    margin-right: 10px;
}
.mb-10x{
    margin-bottom: 10px;
}
.ml-10x{
    margin-left: 10px;
}


.bg-1{background: url("../images/Ohio city.jpg") no-repeat center ; background-size: cover;} 
.bg-2{background: url("../images/Trump's phone call.jpg") no-repeat center ; background-size: cover;height:200px}
.bg-3{background: url("../images/Iranian general's.jpg") no-repeat center ; background-size: cover;}
.bg-4{background: url("../images/car maker.jpg") no-repeat center ; background-size: cover;}
.bg-5{background: url("../images/best diet.jpg") no-repeat center ; background-size: cover;}
.bg-6{background: url("../images/Quadrantid.jpg") no-repeat center ; background-size: cover;}

.bg-7 { background: url("../images/FBI Director.jpg") no-repeat center;background-size: cover;}

.bg-8 { background: url("../images/wiliam burns.jpg") no-repeat center;background-size: cover;}

.bg-9 {background: url("../images/New York State.jpg") no-repeat center; background-size: cover;}
.bg-10 {background: url("../images/biden-iran-superJumbo-v2.jpg") no-repeat center; background-size: cover;}
.bg-11 {background: url("../images/votes.jpg") no-repeat center; background-size: cover;}

.bg-science1 { background: url("../images/technology.jpg") no-repeat center;background-size: cover;}
.bg-science2 { background: url("../images/separate.jpg") no-repeat center;background-size: cover;}
.bg-science3 { background: url("../images/record.jpg") no-repeat center;background-size: cover;}
.bg-science4 { background: url("../images/FDA.jpg") no-repeat center;background-size: cover;}
.bg-science5 {background: url("../images/vaccine.jpg") no-repeat center;background-size: cover;}
.bg-science6 {background: url("../images/CDC.jpg") no-repeat center;background-size: cover;}
.bg-science7 {background: url("../images/Blue.jpg") no-repeat center;background-size: cover;}
.bg-science8 {background: url("../images/numbers.jpg") no-repeat center;background-size: cover;}
.bg-science0 {background: url("../images/healthy.jpg") no-repeat center;background-size: cover;}




.dark-cover{
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   background-color: rgba(0, 0, 0, 0.4);
   z-index: 10;
}

.caption-title-bg1{
    color: white;
    font-weight: 700;
    font-size: 24px;
    position: absolute;
    width: 650px;
    line-height: 37px;
    font-size: 28px;
    z-index: 100;
    top: 240px;
    left: 20px;
}
.caption-info-bar-bg1{
    position: absolute;
    top: 355px;
    z-index: 12;
    left: -20px;
}
.caption-info-item-bg1{
    display: inline-block;
    color: #fff;
    margin-right: 20px;
    font-weight: 500;
}
.caption-title-bg2{
    color: white;
    font-size: 20px;
    width: 380px;
    font-weight: 700;
    line-height: 30px;
    position: absolute;
    z-index: 100; 
    top: 55px;
    left: 20px;

}
.caption-info-bar-bg2{
    position: absolute;
    z-index: 12;
    top: 157px;
    left: -20px;
}
.caption-info-item-bg2{
    display: inline-block;
    color: #fff;
    margin-right: 20px;
    font-weight: 500;
}
.main-news{
    margin-top: 20px;
    float: left;
    width: 63%;
}
.recent-img{
    width: 100%;
   
}
.x{
    display: block;
    width: 100%;
}
.caption-info-bar li{
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
    position: relative;
    left: -40px;
}
.more-info{
    position: relative;
    font-size: 18px; 
}
.main-news-50-50{
    display: flex;
    margin-bottom: 50px;
}
.main-news-w-50-img{
    width:100%;
    height: 250px;
}
.i1{
    margin-right: 30px;
}
.side-bar{
    width: 35%;
    float: right;
    margin-top:60px;
}
.yellow-box li{
    list-style: none;
    background-color: #F9B500;
    border-bottom: 1px solid #fff;
    padding: 22px 22px;
    text-align: center;
}
.popular{
    width: 91%;
    float: right;
    margin-top: 30px;
}
.row-popular{
    width: 93%;
    display:inline-block;
    margin-bottom: 0px;
}
.popular-text {
    overflow: hidden;
    float: right;
    position: relative;
    bottom: 25px;
    left: 15px;
    height: 90px;
    padding: 5px;
    color: black;
}
.popular-img{
    float: left;
    position: relative;
    left: 20px; 
    margin-bottom:15px;
   
}
.side-bar h6{
    color: #888;
}
.NEWSLETTER{
    float: right;
    width:91%;
}
.Subscribe{
    font-size:20px;
    width: 300px;
    position: relative;
    right: 14px;
    color: #888;
}
.email{
    outline: none;
    border: 2px solid #F9B500;
    padding: 11px 20px;
    width: 81%;
    position: relative;
    left: 35px;
    top: 23px;
}
.email-btn{
    outline:none;
    border: 1px solid #F9B500;
    background-color: #F9B500;
    padding: 12.5px 18px;
    top: 24px;
    right: 46px;
}
.email:hover{
    border: 3px solid #F9B500;
    transition: all .2s ;
}
.fa-location-arrow{
    font-size: 14px;
}
.Fa-comment{
    Color: #F9B500;
    }
.footer {
    /*position: fixed;*/
    background-color: #333;
    display: block;
    width: 100%;
    height: 445px;
}
.footer-col1,
.footer-col2,
.footer-col3{
    width: 25%;
    margin-top: 40px;
}
.footer-col1 p,img{
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 100;
}
.cols{
    display: flex;
    justify-content: space-around;
    
}
.hr{
    border: .5px solid #535353;
    width: 93%;
}
.footer-col2 h3,
.footer-col3 h3{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 30px;
}
.footer-col2 a,
.footer-col3 a{
    font-size: 18px;
    font-weight: bolder;
}
.footer-col2 p,
.footer-col3 p{
    font-size: 16px;
    margin-top: 10px;
}
.footer-col2 p:first-of-type,
.footer-col3 p:first-of-type{
    border-bottom: 1px solid #535353;
    padding-bottom: 30px;
    margin-bottom: 30px;
}
.footer-menu-ul{
    margin-top: 15px;
}
.footer-menu-ul li{
    display: inline-block;
    margin-right: 20px;
}
.footer-menu-ul a{
    color: #cccccc;
}
.footer-menu-ul a:hover{
    color: #F9B500;
}
.social-media{
    float: right;
    position: relative;
    right: 40px;
}
.social-media li{
    display: inline-block;
    list-style: none;
}
.social-media i{
    color: #fff;
}



/* ----------------------------------------------- */
@media (max-width:575.98px){
    
    .header-logo{
        height: 16px;
        padding: 32px 0;
    }
    .header-menu{
        display: none;
    }
    .header-menu-burger{
        display: inline;
    }
    .header-menu-item{
        display: block;
        width: 100%;
        text-align:start;
        background-color: #fff;
        border-bottom: 1px solid #cccccc;
    }
    .header-menu-item-link{
        font-size: 20px;
    }

}










/* ---------------------------------------------- */
.app{
    width: 1200px;
}

@media (max-width:1199.98px){
    .app{
        width: 992px;
    }
}

@media (max-width:991.98px){
    .app{
        width: 768px;
    }
}

@media (max-width:767.98px){
    .app{
        width: 600px;
    }
}

@media (max-width:599.98px){
   
    .app{
        width: calc(100%-50px);
        padding: 0px 25px;
    }
}
/* --------------------------------------- */
/* start new li style */
.header-menu-item {
    position: relative;
}

    .header-menu-item ul {
        display: none;
        position: absolute;
        margin-top: 5px;
        right: 10px;
        width: 120px;
        background-color: #ffffff;
        z-index: 1000;
        text-align: center;
        border: 2px solid #F9B500;
        border-radius: 2px;
        padding: 0;
    }

        .header-menu-item ul li {
            padding: 10px 20px 10px 20px;
            list-style-type: none;
            border-bottom: 1px solid #F9B500;
        }
            .header-menu-item ul li:last-child{
                border-bottom:none;
            }

            .header-menu-item:hover > ul {
                display: block;
            }

    .header-menu-item:hover .header-menu-item ul li {
        display: block;
    }

.fa-caret-down {
    position: relative;
    padding: 2px;
    top: 2px;
}

    .fa-caret-down:hover {
        color: #F9B500;
    }

.header-menu-item ul li {
    width:100px;
}
/* end new li style */

/* start single news style */

.more-info {
    margin-bottom: 80px;
    line-height: 30px;
    text-align: justify;
}

    .more-info span {
        font-size: 20px;
    }

.sticky {
    position: fixed;
    top: 100px;
}

#go-up i {
    font-size: 26px;
}

.yellow-box li {
    position: relative;
    bottom: 40px;
}
/* end single news style */

/* start category news style */
 
.more-info {
    margin-bottom: 80px;
    line-height: 30px;
    text-align: justify;
}

    .more-info span {
        font-size: 20px;
    }

.sticky {
    position: fixed;
    top: 100px;
}

#go-up i {
    font-size: 26px;
}
